@import url(variables.css);


/*Dossier boutons / icons / animations*/

    
/*Mise en forme du bouton dans la section rechercher par ville*/

.btn-geoloc{
    /*impossible de mettre l'icon, donc j'ai utilisé une image en SVG 
    afin de ne pas alterer la qualité lors du redimensionnement*/
    background-image: url(image/icons/location.svg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    border: var(--box);
    height: var(--geolocaliser-btn-height);
    width: 48px;
    border-radius: 16px 0 0 16px;
    cursor: pointer;
    font-size: 0; /*Pour ne pas afficher le value*/
}

.btn-geoloc:hover{
    background-color: var(--light-blue);
}

.marseille{
    border: 1px solid var(--grey);
    height: 48px;
    width: 232px;
    padding-left: 16px;
    background-color: transparent;
}

.marseille::-webkit-input-placeholder{
    font-weight: 600;
    color: var(--text-color);
    padding-left: 8px;
}

.marseille::-moz-placeholder{
    font-weight: 600;
    color: var(--text-color);
    padding-left: 8px;
}


.marseille::-ms-input-placeholder{
    font-weight: 600;
    color: var(--text-color);
    padding-left: 8px;
}

.marseille::placeholder{
    font-weight: 600;
    padding-left: 8px;
    color: var(--text-color);
}

.marseille:focus{
    outline: none;
    color: var(--blue);
    font-weight: bold;
}


.rechercher {
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    border-radius: 0 16px 16px 0;
    width: 136px;
    height: var(--geolocaliser-btn-height);
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.loupe{
    display: none;
}

/*Mise en forme des boutons filtres avec icons*/

.btn-filtre{
    display: flex;
    justify-content: center;
    align-items: center;

}

.eco, .fam, .romantic, .pet {
    font-weight: bold;
    align-self: center;
    border-radius: 24px;
    cursor: pointer;
    background-color: var(--background-color-cards);
    border-style: none;
    margin-right: 8px;
    transition-duration: 500ms;
    transition-timing-function: linear;
}


.bill, .heart, .pet-dog, .family{
    margin-bottom: 24px;
    margin-top: clamp(1px, 2vw, 24px);
    margin-right: clamp(16px, 2vw, 24px);
    display: flex;
    border:var(--box-xs);
    border-radius: var(--radius-btn);
    border-left-style: unset;
    height: 48px;
}

/*Mise en forme des icons dans les filtres*/
.wave, .icon-heart, .dog, .person{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    background-color: var(--light-blue);
    height: var(--circle-h-icons);
    width: var(--circle-w-icons);
    border-radius: var(--box-radius-icons);
    cursor: pointer;
    position: relative;
    left: -8px;
}

/*Animation filtres*/

.bill:hover, .heart:hover, .pet-dog:hover, .family:hover{
    border-color: var(--blue);
    color: var(--background-color-cards);
    box-shadow: 0 8px 8px 0 var(--light-blue), 16px 8px 24px 0 var(--light-blue);
}

.wave:hover, .icon-heart:hover, .dog:hover, .person:hover{
    color: var(--background-color-cards);
    background-color: var(--blue);
}

/*Partie info*/
.info-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 24px;
    margin: 16px 32px 0 32px;
}

.icon-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1.5px solid #D9D9D9;
    border-radius: var(--box-radius-icons);
    color:var(--blue);
    margin-right: 8px;
}

p.info{
margin: 0;
padding: 0;
}

/*Etoile*/
.star,.repeat-star-3, .repeat-star-4, .repeat-star-5, .star-p, .star-grey{
    display: flex;
}

.repeat-star-3, .repeat-star-4, .repeat-star-5{
    color: var(--blue);
}

.star-grey{
    color: #D9D9D9;
}

/*Box pour hébergement + populaires*/
.container-hebergements-populaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 32px 48px 32px;
    height: auto;
    width: auto;
}


/*Section cards - hébergements*/
#titre-hebergements{
    align-self: flex-start;
    margin: 0;
    padding-top: 16px;
    text-decoration: none;
    color: var(--text-color);
    width: auto;
}

.afficher{
    align-self: flex-start;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    height: 32px;
    padding-top: 8px;
}

.hebergements-cards{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    flex-basis: 728px;
    border-radius: var(--radius-card-container);
    text-decoration: none;
    padding: 24px 0 24px 24px;
    margin-right: 24px;
    min-width: 0; /*Pour que le box rétrécisse à la même vitesse que le box populaires*/
    height: 600px;
}


.group-cards-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    padding-top: 24px;
    min-height: 0;
    padding-bottom: clamp(16px, 2vw, 24px);
}

.group-cards-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 100%;
    min-height: 0;
    padding-bottom: clamp(16px, 2vw, 24px);
}

.cards-hebergements-marseille{
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 16px;
    background-color: var(--background-color-cards);
    height: 95%;
    width: 100%; 
    box-shadow: var(--shadow-cards);
    text-decoration: none;
    margin-right: clamp(12px, 2vw, 24px);
    min-width: 0;
}

.img-hebergements{
    height: var(--img-height-hebergements);
    width: var(--img-width-hebergements);
    min-height: 0;
    -o-object-fit: cover;
       object-fit: cover;
    object-position: center;
    border-radius: var(--radius-img-hebergements);
}


.p-prix, .star{
    margin: 0;
    padding: 0 0 8px 8px;
    font-size: var(--font-desktop-normal-cartes);
}

.nom-hotel{
    margin-top: 8px;
    margin-bottom: 0;
    padding: 0 0 8px 8px;
    font-size: var(--font-desktop-cartes);
}


/*Section cards - populaires*/
.container-plus-populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    flex-basis: 352px;
    border-radius: var(--radius-card-container);
    padding: 24px;
    min-width: 0; /*Pour que le box rétrécisse à la même vitesse que le box hébergements*/
    height: 600px;
}

.container-textes-populaires{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.nom-hotel-populaires{
    margin: 0;
    padding-top: clamp(8px, 2vw, 16px);
    padding-right: 24px;
    padding-left: 16px;
    
    font-size: var(--font-desktop-cartes);
}

.p-prix-populaires{
    margin:0;
    padding-left: 16px;
    padding-top: clamp(1px, .3vw, 8px);
    font-size: var(--font-desktop-normal-cartes);
    padding-bottom: clamp(1px, .3vw, 8px);
}

.star-populaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    padding-bottom: 24px;
    padding-top: 16px;
    width: 100%;
}

.star-p{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 40px;
    padding-bottom: clamp(0px, 2vw, 16px);
    padding-left: 16px;
    font-size: var(--font-desktop-normal-cartes);
}


h2{
    margin:0;
    white-space: nowrap;
}

.cards-populaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 132px;
    width: 100%;
    background-color: var(--background-color-cards);
    border-radius: var(--radius-card-container);
    box-shadow: var(--shadow-cards);
    text-decoration: none;
    padding: 8px;
    margin-bottom: 24px;
}

.img-populaires{
    align-self: center;
    height: 100%;
    width: 40%;
    -o-object-fit:cover;
       object-fit:cover;
    border-radius: 16px 0 0 16px;
}


/*Section activités*/
.container-activites{ /*Conteneur global pour titre + cartes*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: var(--margin-main); /*margin droite et gauche*/
    margin-bottom: 48px;
    width: auto;
}

#titre-activites{
    align-self: flex-start;
}

.box-total-cards-activites{ /*Concerne la totalité des cartes dans la section activités*/ 
    display: flex;
    justify-content: space-between;
    height: 400px;
    padding-top: 24px;
}

.lieu-activite{
    margin: 0;
    padding: 16px;
}

.lieu-activite1{
    margin: 0;
    padding: 16px 0 16px 16px;
}

.activites-links{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.cards-activites{ /*Concerne uniquement les deux entières*/
    display: flex;
    flex-direction: column;
    width: var(--width-cards-activites);
    height: var(--height-cards-activites);
    border-radius: var(--radius-card-container);
    background-color: var(--background-color-cards);
    box-shadow: var(--shadow-cards);
}

/*pour la partie qui ne contient qu'une carte*/
.img-activites-port{ 
    -o-object-fit: cover; 
       object-fit: cover;
    -o-object-position: 50% 0;
       object-position: 50% 0;
    height: 88%;
    width: var(--width-img-activites);
    border-radius: var(--radius-img-activites);
}

.img-activites-parc{ 
    -o-object-fit:cover; 
       object-fit:cover;
    -o-object-position: 50%;
       object-position: 50%;
    height: 88%;
    width: var(--width-img-activites);
    border-radius: var(--radius-img-activites);
}


/*Activités, ceux qui contiennent deux cartes. Première partie*/

.box-group-activites{ /*Nouveau flex mis sur les parties qui ont deux cartes 
    sur la même colonne*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--width-cards-activites);
    background-color: var(--background-color-cards);
    padding-left: 24px;
    padding-right: 24px;
}

.cards-activites-group-top{
    height: 51%;
    width: var(--width-cards-activites);
    border-radius: var(--radius-card-container);
    box-shadow: var(--shadow-cards);
}

.cards-activites-group-bottom{
    height: 39%;
    width: var(--width-cards-activites);
    border-radius: var(--radius-card-container);
    box-shadow: var(--shadow-cards);
}

.img-activites-group-top{
    height: 75%;
    width: var(--width-img-activites);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 40%;
       object-position: 0% ;
    border-radius: var(--radius-img-activites);
}

.img-activites-group-bottom{
    height: 68%;
    width: var(--width-img-activites);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 15%;
       object-position: 0% ;
    border-radius: var(--radius-img-activites);
}


/*Activités, ceux qui contiennent deux cartes. Deuxième partie*/
.box-group-activites-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--width-cards-activites);
    background-color: var(--background-color-cards);
    padding-left: 3%;
}

.cards-activites-group-2-top{
    height: 42%;
    width: var(--width-cards-activites);
    border-radius: var(--radius-card-container);
    background-color: var(--background-color-cards);
    box-shadow: var(--shadow-cards)
}

.cards-activites-group-2-bottom{
    height: 48%;
    width: var(--width-cards-activites);
    border-radius: var(--radius-card-container);
    background-color: var(--background-color-cards);
    box-shadow: var(--shadow-cards);
}


/*[...]*/
.img-activites-group-2-T{
    width: var(--width-img-activites);
    height: 72%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 10%;
       object-position: 0% 10%;
    border-radius: var(--radius-img-activites);
}

.img-activites-group-2-B{
    width: var(--width-img-activites);
    height: 73%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position:  100% 20%;
       object-position:  100% 20%;
    border-radius: var(--radius-img-activites);
}

